*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.root{
  font-size: 16px;

}

/* main body styling */

.main-body{
  width: 100%;
  /* margin: 0 auto; */
}

/* #opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsla(0, 0%, 3%, 0.5);
} */
  /* top section stylng */
  .top-section{
    background-image: url(../images/hero.png);
    background-position: center;
    background-size: cover;
    
  }


 .navbar{
  display: flex;
  justify-content: space-between;
  height: 80svh;
 } 

 .nav-left{
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 10rem;
  top: 2.2rem;
  
 }

 .nav-links{
  position: relative;
  left: 5em;
  top: 0.7rem;
 }

 .nav-links nav ul{
  display: flex;
  gap: 2em;
 }
 nav ul li{
  list-style-type: none;
 }
 nav ul li a{
  text-decoration: none;
  
 }

 .nav-right{
  display: flex;
  position: relative;
  
  gap: 1.5em;
  right: 10rem;
  top: 2.7rem;
 }

 .signUp button{
  background-color: #22a7f0;
  padding: 0.6rem;
  position: relative;
  bottom: 0.5rem;
  border: none;
  gap: 1rem;
  color: #fff;
  
 }

 .content{
 display: flex;
 flex-direction: column;
 align-items: center;
 position: relative;
 bottom: 20em;
 color: #fff;
 
 
 
 }

 .content-head{
  width: 40%;
  font-size: 2rem;
 }

 .content-body{
  width: 49%;
  font-size: 1.8rem;
  padding: 2rem 0;

 }
.content-btn{
  display: flex;
  width: 30%;
  gap: 2rem;
  
}
.btn1{
  background-color: #22a7f0;
  color: #fff;
  border: none;
}
.btn2{
  background: transparent;
  border: 2px solid #fff;
}
 .content-btn button{
  width: 50%;
  padding: 1.2rem;
  font-size: 1rem;
  border-radius: 1.7rem;
 }

 /* vission styling */
.vission{
  height: 30svh;
  background-color: rgba(251,251,250,255);
}
 .vssn{
  display: flex;
  position: relative;
  bottom: 5em;
  gap: 2em;
  justify-content: center;
  align-items: center;
  

 }

 .vission1{
  background-color: #fff;
  color: black;
  padding: 2em 2em;
  
 }

 .vission1 h3{
  font-size: 1.5rem;
 }

 .vission1 p{
  
  width: 80%;
 }

 .vission2{
  background-color: #fff;
  color: black;
  padding: 2em 2em;

 }
 .vission2 h3{
  font-size: 1.5rem;
 }

 .vission2 p{
  
  width: 80%;
 }

 .vission3{
  background-color: #22a7f0;
  color: white;
  padding: 2em 2em;

 }
 .vission3 h3{
  font-size: 1.5rem;
 }

 .vission3 p{
  
  width: 80%;
 }

 /* ion-icon stylng */
 .ion1{
  width: 40px;
  height: 40px;
  position: relative;
  left: 0;
  color: #22a7f0;
 }
 .ion2{
  width: 40px;
  height: 40px;
  position: relative;
  left: 0;
  color: #fff;
 }


 /* Mission styling */
 .mission{
  display: flex;
  gap: 1.5em;
  height: 50vh;
  padding: 2em 0;
  justify-content: center;
  align-items: center;
  
 }

 .mission1{
  width: 20%;
  text-align: center;
  
 }
 .mission1 h4{
  padding-bottom: 1em;
 }
 
 
 .mission2{
  width: 20%;
  text-align: center;
 }
 .mission2 h4{
  padding-bottom: 1em;
 }
 
 .mission3{
  text-align: center;

  width: 20%;
 }
 .mission3 h4{
  padding-bottom: 1em;
 }
 

 .ion4{
  width: 40px;
  height: 40px;
  position: relative;
  left: 0;
  bottom: 1.4em;
  color: #22a7f0;
 }


 /* THIRD-LAST STYLING */
.industry{
  text-align: center;
  width: 37%;
  
}

.industry p{
  font-size: 1rem;
}

 .third-last{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  background-color: rgba(251,251,250,255);
 }
/* TESTIMONIALS STYLNG */
 .testimonials{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em 0;
  gap: 1em;
  height: 40svh;
 }
 .user1{
  width: 17%;
  padding: 2em 2em;
  text-align: center;
  background-color: rgba(254,255,254,255);
  
 }
 .user1 img{
  width: 50%;
 }

 .stars{
  display: flex;
  position: relative;
  left: 3.5em;
  width: 30%;
  margin-top: 2em;
 }

 .stars img{
  padding-left: 0.5em;
 }

 /* PARTNERS STYLING */
.partners{
  padding-left: 11em;
  margin: 2em 0;
}
 .partners img{
  width: 8%;
  padding-left: 3em;
 }

 /* NEWSLETTER STYLING */

 .newsletter{
  display: flex;
  background: linear-gradient(to left, rgba(195, 25, 136, 255), rgba(22, 65, 137, 255));
  align-items: center;
  padding: 2em;
  margin-top: 2em;
  width: 65%;
  justify-content: space-between;
 }

 .subscribe{
  width: 30%;
 }

 .input input{
  padding: 1em;
  border-radius: 0.4em;
  border: none;
 }

 .submit-btn{
  padding: 1em;
  position: relative;
  right: 1em;
  background-color: rgba(35,166,240,255);
  border-radius: 0.4em;
  border: none;
 }

 /* SUBSCRIPTION LISTING */

 .pricing{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5em 0;
 }
 .pricing-header{
  text-align: center;
  width: 60%;
  margin: 3em 0;
  line-height: 1.5em;
 }

 .premiums{
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 2em; */
  /* text-align: center; */
 }

 .per-month{
  color: rgba(138,190,238,255);
 }

 /* FREE STYLING */
 .free{
  width: 20%;
  padding: 2em;
  border: 2px solid rgba(54,174,240,255);
  border-radius: 0.5em;
 }

 .free-title{
  text-align: center;
 }
 
 .free-info{
  width: 60%;
  padding-left: 3em;
  text-align: center;
  margin: 2em 0;
 }

.free-price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
  color: rgba(54,174,240,255);
}

.try button{
  width: 90%;
  padding: 1em;
  background-color: rgba(54,174,240,255);
  border: none;
}

/* STANDARD STYLING */

 .standard{
  
  width: 20%;
  padding: 2em;
  color: #fff;
  background-color: rgba(36,43,67,255);
  position: relative;
  top: -1em;
  height: 70svh;
  border-radius: 0.5em;
 }

 .standard-title{
  text-align: center;
 }
 
 .standard-info{
  width: 60%;
  padding-left: 3em;
  text-align: center;
  margin: 2em 0;
 }

.standard-price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
  color: rgba(54,174,240,255);
}

 /* PREMIUM STYLING */
 .premium{
  width: 20%;
  padding: 2em;
  border: 2px solid rgba(54,174,240,255);
  border-radius: 0.5em;
 }

 .premium-title{
  text-align: center;
 }
 
 .premium-info{
  width: 60%;
  padding-left: 3em;
  text-align: center;
  margin: 2em 0;
 }

.premium-price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin: 2em 0;
  color: rgba(54,174,240,255);
}

 .feature1{
  display: flex;
  gap: 0.5em;
  margin: 1em 0;
 }
 .feature2{
  display: flex;
  gap: 0.5em;
  margin: 1em 0;

 }
 .feature3{
  display: flex;
  gap: 0.5em;
  margin: 1em 0;

 }

 .feature4{
  display: flex;
  gap: 0.5em;
  margin: 1em 0;

 }

 .feature5{
  display: flex;
  gap: 0.5em;
  margin: 1em 0;

 }

 /* SECOND LAST STYLING */

 .second-last{
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* margin: 3em 0; */
  padding: 2em 14em;
  height: 80svh;
  color: #fff;
  background-color: rgba(36,43,67,255);
 }

 

 .presence{
  width: 50%;
  line-height: 1.5rem;
 }
 .presence h3{
  font-size: 2rem;
  /* padding: 1rem; */
  line-height: 2rem;
 }

 .world-map img{
  width: 40%;
  position: relative;
  left: 20em;
 }

 /* APPOINTMENT FORM */

 .contact-form{
  display: flex;
  flex-direction: column;
  background-color: rgba(251,251,250,255);
  
 }

 .top{
  display: flex;
  margin: 2em 0;
  justify-content: center;
  position: relative;
  bottom: 17em;
 
 }

 .contact-img img{
  height: 70svh;
 }

 .contactForm{
  height: 50svh;
 padding: 1em 2em;
 font-size: 1.4em;
 background-color: #fff;
 }

 .form-title {
  text-align: center;
  font-size: 1.2rem;
  padding: 1em 0;
 }

 .input1 input{
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
 }

 .input1 select{
  width: 105%;
  padding: 0.5em;
  margin: 0.5em 0;

 }

 .appoint-btn{
  width: 100%;
  margin: 2em 0;
  padding: 1em;
  background-color: rgba(34,167,240,255);
  border: none;
  color: #fff;
 }

 .bottom{
  position: relative;
  bottom: 10em;
 }

 
 .contact-us{
  display: flex;
  margin: 0 auto;
  justify-content: center;
  /* gap: 30em; */
  
 }

 .our-agency{
  width: 60%;
 }

 .contactBtn{
  width: 10%;
  padding: 1.2em;
  border: none;
  background-color: rgba(34,167,240,255);
  border-radius: 0.4rem;
 }


 /* FOOTER STYLING */
 .footer{
  display: flex;
  flex-direction: column;
  padding: 1.5em 0;
  gap: 1.2em;
  justify-content: center;
  align-items: center;
  margin: 2em 0;
  
 }






 .footer-links{
  display: flex;
  gap: 4.2em;
 }

 .company-info{
  display: flex;
  flex-direction: column;
  
 }

 .company-info nav ul li{
  display: flex;
  gap: 3em;
  padding-top: 1rem;
 }


.legal{
  display: flex;
  flex-direction: column;
}
 .legal nav ul li{
  display: flex;
  padding-top: 1rem;
 }



 .features{
  display: flex;
  flex-direction: column;
  
 }

 .features nav ul li{
  padding-top: 1rem;
 }

 .resources nav ul li{
  padding-top: 1rem;
 }

 .phone{
  display: flex;
  gap: 0.3rem;
  padding-top: 1rem;
 }
 .location{
  display: flex;
  gap: 0.3rem;
  padding-top: 1rem;

 }

 .email{
  display: flex;
  gap: 0.3rem;
  padding-top: 1rem;

 }
 /* COPYRIGHT STYLING */

 .copyright{
  display: flex;
  gap: 32em;
  padding-top: 3rem;
 }

 .socialMedia{
  display: flex;
  gap: 2em;
  color: rgba(34,167,240,255);
  

 }

 